.profile {
    width: 400px;
    margin: auto;
    border-radius: 5px;
    background-color: #FFFFFF;
};


.avatar {
    margin-bottom: 15px;
}

.name, .tag, .location {
    text-align: center;
    color:#696969;

}
.name {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 600;
    color: black;
}
.tag {
    margin-bottom: 10px;
}
.stats {
    display: flex;
}
.stats > li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 10px;
    flex-basis: calc(100% / 3);
}