.friendList {
    width: 400px;
    margin: auto;
    background-color: inherit;
    margin-bottom: 50px;
}

.item {
    display: flex;
    align-items: center;

    background-color: #FFFFFF;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 15px;
}

.item :last-child {
    margin-bottom: -10px;
}